


<head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<div class="scrolling-wrapper">



    <div class="card">
        <img src="https://www.dominos.co.in/files/items/Veg_Extravaganz.jpg" alt="" class="card__image">
        <div class="card__content">
            <input type="checkbox" id="test1" name="item" />
            <label for="test1">Veg Extravaganza</label>

            <div class="card__badge">
                Veg Pizza.
            </div>

            <div class="card__price">
                <div class="card__amount">₹100<span class="card__details">Best Price</span></div>
            </div>
        </div>
    </div>
    <div class="card">
        <img src="https://www.dominos.co.in/files/items/Margherit.jpg" alt="" class="card__image">
        <div class="card__content">
            <input type="checkbox" id="test2" name="item" />
            <label for="test2">Margherita</label>

            <div class="card__badge">
                Veg Pizza.
            </div>

            <div class="card__price">
                <div class="card__amount">₹100<span class="card__details">Original and the best.</span></div>
            </div>
        </div>
    </div>
    <div class="card">
        <img src="https://www.dominos.co.in/files/items/Farmhouse.jpg" alt="" class="card__image">
        <div class="card__content">

            <input type="checkbox" id="test3" name="item" />
            <label for="test3">Farm House</label>

            <div class="card__badge">
                Veg Pizza.
            </div>

            <div class="card__price">
                <div class="card__amount">₹100 <span class="card__details">A Veggie Delight.</span></div>
            </div>
        </div>
    </div>
    <div class="card">
        <img src="https://www.dominos.co.in/files/items/IndianTandooriPaneer.jpg" alt="" class="card__image">
        <div class="card__content">

            <input type="checkbox" id="test4" name="item" />
            <label for="test4">Indian Tandoori Paneer</label>

            <div class="card__badge">
                Veg Pizza.
            </div>

            <div class="card__price">
                <div class="card__amount">₹100
                    <span class="card__details">
                        Tandoori Paneer.
                    </span>
                </div>
            </div>
        </div>
    </div>
    <input type="button" class="btn btn-3" value="Order">
</div>